.header-search{
    margin-right: 10px;
}

.header-signIn{
    margin-right: 10px;
}

.header-link{
    
    text-decoration: none;
    color: gray;
    
}

.header-linkItem{
    margin-top: 7px;
    }